@import "tailwindcss";

.marquee {
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: flex;
  gap: 16px;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee-content:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}